node_modules
.tmp
.sass-cache
.metadata
dist/**/*
coverage
node_modules/
.vagrant/
.vagrant/**/*
.vagrant
.DS_Store
**/.DS_Store
**/*.DS_Store
*.class
*.classpath
*.settings
*.log
*.orig
*.xls
*.tar
.idea/
.idea/*
*.iml
*.eml